NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYMENT_GATEWAY=
PAYMENT_GATEWAY_API_KEY=
PAYMENT_GATEWAY_SECRET_KEY=
PAYMENT_WEBHOOK_SECRET=
REFUND_WEBHOOK_SECRET=
CRON_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
WEBHOOK_SKIP_VERIFICATION=

# Akgunler API
AKGUNLER_BASE_URL=https://www.akgunlerbilet.com/akgunler_web_service/api.php
AKGUNLER_A_ID=2145
AKGUNLER_AK_ID=777
AKGUNLER_3D_PAYMENT_URL=https://www.akgunlerbilet.com/ws_secure_payment.php
AKGUNLER_CALLBACK_URL=
